<div class="grid h-screen place-items-center my-12 w-full">
  <%= form_with url: sessions_path, :class => "flex flex-col gap-4 p-12 justify-center bg-base-300 rounded-xl shadow w-1/2" do |form| %>
    <div class="flex flex-col gap-1">
      <h1 class="text-4xl font-bold text-center">
        <%= t('menu.login') %>
      </h1>
      <p class="text-sm text-center text-gray-400">
        <%= t('account.no_account') %>
        <span class="underline text-blue-500">
          <%= link_to t('account.signup'), register_path %>
        </span>
      </p>
    </div>

    <div class="flex flex-col gap-1">
      <label class="label">
        <span class="label-text">
          <%= t('account.enter_username') %>
        </span>
      </label>
      <%= form.text_field :username, required: true, :class => "input input-bordered w-full" %><br>
    </div>
    <div class="flex flex-col gap-1">
      <label class="label">
        <span class="label-text">
          <%= t('account.enter_password') %>
        </span>
      </label>
      <%= form.password_field :password, required: true, :class => "input input-bordered w-full" %><br>
    </div>

    <%= form.submit t('menu.login'), :class => "btn btn-primary w-full" %>
  <% end %>
</div>